:root {
	--prim-clr: #FF0068;
	--dark-clr: #4A8179;
	--spacer-l: 2em;
	--spacer-s: 1em;
}

body {
	overflow-x: hidden;
}

/*start hero section*/

.hero {
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100%;
}

.header {
	padding: var(--spacer-s) 0;
	display: flex;
	justify-content: space-between;
	align-content: center;
	/*padding: 1.5em;*/
	transition: transform .25s linear;
}


.nav-list {
	margin-right: var(--spacer-l);
	width: 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.list-item {
	list-style: none;
}

.list-item a {
	text-align: center;
	text-decoration: none;
	color: var(--dark-clr);
	position: relative;
}

.list-item a::before {
	content: '';
	position: absolute;
	width: 100%;
	left: 0;
	height: 2px;
	background-color: var(--prim-clr);
	top: -.5em;
	transform: scale(0);
	transition: transform .25s ease-in-out;
	transform-origin: left;
}

.list-item a::after {
	content: '';
	position: absolute;
	width: 100%;
	left: 0;
	height: 2px;
	background-color: var(--prim-clr);
	bottom: -.5em;
	transform: scale(0);
	transition: transform .25s ease-in-out;
	transform-origin: right;
}

.list-item a:hover {
	color: var(--prim-clr);

}
/*
.list-item a:hover  .list-item a::before {
	transform: scale(1);
}

*/

@media(max-width: 720px) {

	.hamburger {
		position: absolute;
		width: 31px;
		height: 21px;
		top: 5%;
		right: 5%;
		transform: translate(-5%, -5%);
		cursor: pointer;
	}

	.nav-list {
		display: none;
	}


	.nav-list.active	{
		display: flex;
		background-color: var(--prim-clr);
		position: fixed;
		width: 100%;
		height: 100%;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}


	.list-item a {
		color: white;
		font-size: 18px;
		font-weight: bold;
	}

	.list-item a:hover {
		color: var(--dark-clr);
	}
}

.logo {
	margin: 0 var(--spacer-l);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0px;
	font-size: 1.25em;
	font-weight: 900;
	padding: .5em;
	background-color: rgba(255, 255, 255, .75);
	position: relative;
	color: var(--prim-clr);
	line-height: 50px;
}

.logo:hover .span1,
.logo:hover .span2 {
	transform: scale(1);
}


@media(max-width: 720px) {
	.logo {
		font-size: 1em;
		line-height: 1;
	}
}

@media(max-width: 520px) {
	.logo {
		font-size: .85em;
		line-height: 1;
	}
}

.span1 {
	position: absolute;
	width: calc(100% - 1em);
	left: .5em;
	height: 2px;
	background-color: var(--prim-clr);
	top: .5em;
	transform: scale(0);
	transition: transform .25s ease-in-out;
	transform-origin: left;
}

.span2 {
	position: absolute;
	width: calc(100% - 1em);
	left: .5em;
	height: 2px;
	background-color: var(--prim-clr);
	bottom: .5em;
	transform: scale(0);
	transition: transform .25s ease-in-out;
	transform-origin: right;
}

@media(max-width: 720px) {
	.span1,
	.span2 {
		display: none;
	}
}

.logo span {
	color: var(--dark-clr);
}

.hero-body {
	margin: 2em auto;
	width: calc(100vw - 1em);
	padding: 0 2em;
}

@media(min-width: 720px) {
	 .hero-body {
	 margin: 7em auto;
	}
}

.main-title {
	text-align: center;
	text-transform: capitalize;
	font-size: 1.15em;
	padding: 2.em 0;
	line-height: 1;
	color: #61716d;
}

@media(min-width: 720px) {
	 .main-title {
	 font-size: 1.75em;
	 padding: .3em;
	}
}


.hero-para {
	text-align: center;
	line-height: 1.6;
	max-width: 500px;
	margin: 0 auto;
	color: #888;
}

.hero-para span {
	color: var(--prim-clr);
}

@media(min-width: 720px) {
	 .hero-para {
	 font-size: 1.2em;
	}
}



.my-buttons {
	margin: 3em auto;
	text-align: center;
}

@media(min-width: 720px) {
	.my-buttons {
	  margin: 3em auto;
    text-align: center;
 }
}

.log-in,
.sign-up {
	padding: .5em 1em;
	border: none;
	outline: none;
	text-align: center;
	text-transform: capitalize;
	letter-spacing: 1px;
	cursor: pointer;
}

@media(min-width: 720px) {
	.log-in,
	.sign-up {
		padding: .75em 1em;
		border: none;
		outline: none;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 1px;
		cursor: pointer;
	}
}

.log-in:focus,
.sign-up:focus {
	outline: none;
}

.log-in {
	background-color: white;
	border: 2px solid var(--prim-clr);
	border-radius: 30px;
	margin: 1em;
}

.log-in:hover {
	color: white;
	background-color: var(--prim-clr);
}

@media(min-width: 720px) {
	.log-in {
		background-color: white;
		border: 2px solid var(--prim-clr);
		border-radius: 30px;
		margin-right: 2em;
	}
}

.sign-up {
	background-color: var(--prim-clr);
	border-radius: 30px;
	margin: 1em;
	color: white;
}

.sign-up:hover {
	background-color: var(--dark-clr);
}

@media(min-width: 720px) {
	.sign-up {
		background-color: var(--prim-clr);
		border-radius: 30px;
		margin-left: 2em;
		color: white;
	}
}

/*finish hero sectoin*/

/*start about section*/

.about {
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	min-height: 600px;
	background-color: var(--prim-clr);
}



/*finish about section*/
































